	<div class="container">
      <div class="col-sm-3">
      	<h2>Riku Kiranatama</h2>
      	<%= image_tag("profile.jpg", class: "img-circle") %>
      </div>
      <div class="col-sm-8">
      	<table class="table table-striped">
      	  <tbody>
      	    <tr>
      		  <td>Nama</td>
      		  <td>Riku Kiranatama</td>
      		</tr>
      	    <tr>
      		  <td>Tempat, Tangggal Lahir</td>
      		  <td>Bandung, 7 Oktober 1989</td>
      		</tr>
      	    <tr>
      		  <td>Jenis Kelamin</td>
      		  <td>Pria</td>
      		</tr>
      	    <tr>
      		  <td>Alamat Domisili</td>
      		  <td>Jl. Soekarno Hatta no. 104</td>
      		</tr>
      	  </tbody>
      	</table>
      </div>
    </div>