    <div class="container">
      <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
          <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
          <li data-target="#carousel-example-generic" data-slide-to="1"></li>
        </ol>
        <div class="carousel-inner" role="listbox">
          <div class="item active">
          	<%= image_tag("laut.jpg", alt: "Laut di Kota Bandung") %>
            <div class="carousel-caption">
              Laut di Kota Bandung
            </div>
          </div>
          <div class="item">
          	<%= image_tag("langit.jpg", alt: "Laut di Kota Bandung") %>
            <div class="carousel-caption">
              Langit di Kota Bandung
            </div>
          </div>
        </div>
        <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
          <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
          <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-sm-4">
          <p>Hello saya Riku dan saya saat ini akan lulus dari kuliah, salam kenal ya. 
        		Berikut contoh dari hasil design grafik yang saya buat :). </p>
        </div>
        <div class="col-sm-2 pull-right">
            <p>Facebook: riku@mail.com</p>
            <p>Twitter: riku@mail.com</p>	
            <p>Telpon: 022-232392</p>
            <p>Alamat: Jl. Harapan Bangas No.23, Bandung, Indonesia</p>
        </div>
      </div>
     </div>
   