@font-face {
  font-family: 'Glyphicons Halflings';
  src: url('/assets/glyphicons-halflings-regular.eot');
  src: url('/assets/glyphicons-halflings-regular.eot?#iefix') 
  format('embedded-opentype'), url('/assets/glyphicons-halflings-regular.woff') 
  format('woff'), url('/assets/glyphicons-halflings-regular.ttf') 
  format('truetype'), url('/assets/glyphicons-halflings-regular.svg#glyphicons_halflingsregular') format('svg');
}
body {
    padding-top: 60px;
    padding-bottom: 10px;
}
.navbar-inverse {
    background-color: #33d6ff;
    border-color: #003d4d;
}
.navbar-inverse .navbar-brand {
    color: #fff;
}
.navbar-inverse .navbar-nav>.active>a, 
.navbar-inverse .navbar-nav>.active>a:focus, 
.navbar-inverse .navbar-nav>.active>a:hover {
    color: #fff;
    background-color: #003d4d;
}
.navbar-inverse .navbar-nav>li>a {
    color: #fff;
}
.carousel{
	height: 420px;
	margin-bottom: 10px;
}
.carousel .item{
	height: 420px;
}
.img-circle{
	border-radius: 50%;
	width: 100px;
	
}
.form-horizontal .control-label{
	text-align: left;
}
